{% extends 'base.html' %} {% block content %}
<html lang="en">
  <head>
    <title>
      {% block title %}Issue - {{issue.id}} | {{ issue.title }}{% endblock %}
    </title>
    <style>
      .message {
        max-width: 50vw;
        width: fit-content;
        display: flex;
        flex-direction: column;
      }

      .message .header {
        display: flex;
      }

      .message .header p {
        border: 1px solid black;
        padding: 5px;
        margin: 0;
      }

      .message .content {
        margin: 0;
        min-height: 50px;
        border: 1px solid black;
        padding: 20px 5px;
      }
    </style>
  </head>
</html>

<div class="container">
  <div class="my-4">
    <h1 class="d-inline">
      {{ issue.title }}
      <h6 class="d-inline">(Issue {{ issue.id }})</h6>
    </h1>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p class="mb-2">
        Created by:
        <span class="font-weight-bold">{{issue.creator.realname}}</span>
      </p>
      <p class="mb-2">
        Assigned to:
        <span class="font-weight-bold">{{issue.assignedto.realname}}</span>
      </p>
      <p class="mb-2">
        Creation date:
        <span class="font-weight-bold"
          >{{issue.creation|date_float_tostring}}</span
        >
      </p>
    </div>
    <div class="col-md-6">
      <p class="mb-2">
        Priority: <span class="badge badge-info">{{issue.priority.name}}</span>
      </p>
      <p class="mb-2">
        Status: <span class="badge badge-success">{{issue.status.name}}</span>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <p>Keywords:</p>
      <ul class="list-group">
        {% for keyword in issue.keywords.all() %}
        <li class="list-group-item">{{ keyword.name }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-sm">
      <p>Files:</p>
      <ul class="list-group">
        {% for file in issue.files.all() %}
        <li class="list-group-item">{{ file.name }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <h2 class="mt-2">Messages</h2>
  <div class="list-group">
    {% for message in issue.messages.all() %}
    <div class="list-group-item mb-3">
      <div class="row">
        <div class="col">
          <div class="mt-2">
            {% if message.content %} {{ message.content }} {% else %}
            <b><i>No content, falling back to summary</i></b
            ><br />
            <span>{{ message.summary }}</span>
            {% endif %}
          </div>
        </div>
        <div class="col-4">
          <p class="mb-1">
            Message ID:
            <span class="font-weight-bold">{{ message.id }}</span>
          </p>
          <p class="mb-1">
            Author:
            <span class="font-weight-bold">{{ message.creator.realname }}</span>
          </p>
          <p class="mb-1">
            Creation date:
            <span class="font-weight-bold"
              >{{ message.creation|date_float_tostring }}</span
            >
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- ... other fields ... -->
  {% endblock %}
</div>
